//
//  PROD.xcconfig
//  MRSignTranslate
//
//  Created by Azizbek Asadov on 09.03.2025.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "BASE.xcconfig"

PRODUCT_BUNDLE_IDENTIFIER = $(BASE_PRODUCT_BUNDLE_IDENTIFIER)-prod
PRODUCT_NAME = $(TARGET_PRODUCT_NAME_BASE) PROD
GCC_PREPROCESSOR_DEFINITIONS = $(TARGET_PREPROCESSOR_IDENTIFIER) PROD
SWIFT_ACTIVE_COMPILATION_CONDITIONS = $(TARGET_PREPROCESSOR_IDENTIFIER) PROD
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon_$(TARGET_IDENTIFIER)_prod
INFOPLIST_FILE = prod-Info.plist
